<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415360089719-vndak9etftbi8mnsae8ujtetsgts9er2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415360089719-vndak9etftbi8mnsae8ujtetsgts9er2</string>
	<key>API_KEY</key>
	<string>AIzaSyDOVXCsBVvtyHXa2OuqPqlaf0biiwhQFMA</string>
	<key>GCM_SENDER_ID</key>
	<string>415360089719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstInclassAssignment</string>
	<key>PROJECT_ID</key>
	<string>barzy-firestore-crud</string>
	<key>STORAGE_BUCKET</key>
	<string>barzy-firestore-crud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415360089719:ios:674ba23af581c811f2d072</string>
</dict>
</plist>